.container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:cabecalho   cabecalho
                         parte         box  
                         principal    trem;
                         }
.cabecalho{
    grid-area: cabecalho;
    width: 1814;
    height: 50;
    margin-left:0;
    color: black;
    font-size: 22;
    background-color:#C0C0C0;
    text-align: center;
    margin-bottom: 30px;
}

.parte{
    grid-area: parte;
    width: 930;
    height: 450;
    background-color:#C0C0C0;
    margin-left: 18px;
    border: 10px;
}
.principal{
    grid-area: principal;
    width: 1780;
    height: 450;
    grid-gap: 10 #A9A9A9;
    background-color:#C0C0C0;
    border: 10px #A9A9A9;
    margin-top: 20px;
    margin-left: 18px;
}
.box{
    grid-area: box;
    width: 530;
    height: 450;
    margin-left: 890px;
    grid-gap: 0;
    background-color:#C0C0C0;
    margin-top: -920px;
}
.trem{
    grid-area: trem;
    width: 0;
    height: 450;
    border: 10px ;
    margin-left: 890px;
    margin-top: 20 ;
}
.one{
    width: 830;
    height: 450;
}
.two{
    width: 430;
    height: 450;
    margin-left: 200px;
}
.three{
    width: 930;
    height: 450;
}
.four{
    width: 530;
    height: 450;
    margin-left:200px ;
}
*{
    background-color:#A9A9A9;
}
h1{
    color: black;
    font-size: 22;
    background-color:#C0C0C0;
    text-align: center;
}

h2{
    color: black;
    font-size: 18;
    background-color:#C0C0C0;
    text-align: center;
}

 body{
    width: 98%;
     }
     .page{
        text-align:end;
        width: 1700px;
        text-indent: 50px;
     }
     .algo{
        text-align: justify;
        width: 1700px;
        text-indent: 50px;
     }
     .negocio{
            text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .pagi{
            text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     
     .five{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .six{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .seven{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .eight{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .nine{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .ten{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     .eleven{
        text-align:justify;
            width: 1700px;
            text-indent: 50px;
     }
     @media screen and (max-width:600px) {
        #container {
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (max-width:768px){
        #container {
            display:grid
        }
    }
    @media screen and(max-width:992px){
        #container{
            display:grid
        }
    }
    @media screen and (max-width:1200px) { 
        #container{
            display:grid
        }
    }